/*
 * Copyright 2019 ThoughtWorks, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

@import "../../global/common";
@import "task_terminal";
@import "../../components/forms/autocomplete";
@import "../../components/buttons/index";

$diagram-width: 485px;
$diagram-caption-width: 300px;
$error-container-width: 450px;

.fillable, .actions {
  background-color: $white;
  max-width: 1200px;
  min-width: 1000px;
  margin: 30px auto;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.actions {
  .save-btns {
    white-space: nowrap;
  }

  .error-response {
    margin-right: 2ex;
    margin-top: 7px;
    color: $go-danger;
    display: inline-block;
    max-width: $error-container-width;
    white-space: normal;
    float: left;

    &:empty {
      margin-right: 0;
    }

    ol {
      float: left;
      max-width: inherit;
    }
  }
}

.section-heading {
  font-size: 30px;
  font-weight: 500;

  margin: 0;
  padding: 0;
}

.section-subheading {
  font-size: 20px;
  font-weight: 500;

  margin: 0;
  padding: 0;
}

.section-note {
  display: inline-block;
  font-size: 12px;
  margin: 5px 0 15px;

  .attention {
    color: $go-danger;
  }
}

.user-input {
  font-size: 16px;
  margin-right: 20px;
  flex: 1 0 0;

  input, select {
    font-size: inherit;
  }

  input {
    &[type="text"] {
      padding: 5px;
      width: 25vw;
      max-width: 350px;
    }

    &[type="url"] {
      width: 35vw;
      max-width: 500px;
    }
  }
}

.concept-diagram {
  width: $diagram-width;
  margin: 0;
  padding: 0;

  flex: 0 0 auto;

  object {
    background-color: $white;
  }

  figcaption {
    font-size: 16px;
    text-align: center;
    width: $diagram-caption-width;
    margin: 10px auto 0;
  }
}

.autocomplete-pane {
  list-style: none;
  margin: 0;
  padding: 0;

  width: 400px;
  background: $white;

  li, .autocomplete-item {
    margin: 0;
    padding: 3px 5px;
    border-bottom: 1px solid $line-color;

    &:nth-of-type(2n) {
      background: $primary-bg;
    }

    &:hover {
      background-color: $secondary-bg;
    }
  }
}

.advanced-settings {
  display: block;
  width: 100%;

  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid darken($line-color, 20%);;
  border-top: 1px solid darken($line-color, 20%);;

  .approval-type-selectors .approval-type-selector {
    margin: 0 5px;
  }

  .env-vars {
    table {
      border: none;

      thead {
        background: unset;
        border: none;
      }

      tr {
        border: none;

        td {
          border: none;
          vertical-align: top;

          input {
            width: 240px;;
          }

          div {
            margin: 0;
          }
        }
      }
    }
  }

  .summary {
    @include icon-before($type: $fa-var-play, $color: lighten($text-color, 30%), $size: 16px, $line-height: 25px, $margin: 0 5px);

    line-height: 25px;
    cursor: pointer;
    outline: none;
  }

  .details {
    margin: 0;
    padding: 0;
    display: none;
  }

  &.open, &.lock-open {
    .summary {
      margin-bottom: 15px;

      &:before {
        transform: rotate(90deg);
      }
    }

    .details { display: block; }
  }

  &.lock-open .summary {
    cursor: not-allowed;

    &:before {
      color: lighten($text-color, 50%);
    }
  }
}

.switch-label-text {
  font-weight: normal;
  cursor: pointer;
}

$btn-finish: #6eb642;

.btn-primary:hover {
  background-color: $btn-finish;
  border-color: $btn-finish;
}

.btn-secondary {
  @include button($background-color: $white);

  color: $btn-primary;
  border: 1px solid $btn-primary;

  &:hover {
    color: $btn-finish;
    background-color: $white;
    border-color: $btn-finish;
  }
}

.btn-cancel {
  border: 1px solid $btn-reset;
  &:hover {
    background-color: $btn-reset;
    color: $white;
  }
}
